<div class="my-container">
  <div class="container my-auto">
    <div class="row container">
      <div class="col">
        <h1 class="about-heading">About Me</h1>
        <img src="assets/images/me.jpg" alt="" />
      </div>
    </div>
    <div class="row container">
      <div class="col-md-6">
        <h5>WHO I AM ?</h5>
        <p>
          Hi I'm ANKIT KUMAR MAJHI . I am
          <strong>MEAN stack Developer. </strong>. I have some MEAN projects on
          MEAN stack. I have used Angular for this portfolio project. Currently
          I am a 4th year student and my <strong>CGPA is 7.87</strong>. I also
          have interest in mobile development, learning other web technologies,
          and competitive programming.
        </p>
      </div>
      <div class="col-md-6 second-col">
        <p>
          <span
            ><i class="far fa-calendar-alt"></i>&nbsp; Date of Birth :
          </span>
          &nbsp; 16th April 1999
        </p>
        <p>
          <span><i class="far fa-envelope"></i>&nbsp;E-mail : </span> &nbsp;
          ankit.majhirisen357@gmail.com
        </p>
        <p>
          <span><i class="fas fa-mobile"></i>&nbsp;Phone : </span> &nbsp; +91
          80165-54262
        </p>
        <p>
          <span><i class="fas fa-map-marked-alt"></i>&nbsp;Location : </span>
          &nbsp; Memari, Bardhaman, West Bengal, India
        </p>
      </div>
    </div>
  </div>
</div>
