.my-container {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  background-color: #754ef9;
  background-image: linear-gradient(
      to bottom,
      rgba(117, 78, 249, 0.75) 50%,
      rgba(255, 255, 255, 0.3)
    ),
    url("../../../assets/images/map3.jpg");
  padding-bottom: 2rem;
}
div.row.container {
  margin: 1rem 0;
}
.row {
  margin: 2rem auto;
  padding: 1rem 0;
  text-align: center;
}
.my-row {
  background-color: white;
  border-radius: 8px;
}
.project-heading {
  font-size: 45px;
  font-weight: 700;
}
.input-all {
  width: 90%;
  margin: 1rem auto;
  border: 1px solid #754ef9;
  border-radius: 1.5rem;
}
.input-all input {
  min-width: 75%;
  border: none;
  padding: 0.75rem 8px;
  color: #8a8fa3;
}
.input-all textarea {
  min-width: 75%;
  border: none;
  padding: 0.75rem 8px;
  color: #8a8fa3;
}
.input-all input:focus-visible,
.input-all textarea:focus-visible {
  outline: none;
}
.input-all span {
  color: #754ef9;
}
.col-container {
  margin: 0 auto;
  max-width: 360px;
}
.text-areaholder {
  border: none;
}
.text-areaholder textarea {
  width: 100%;
  border-bottom: 2px solid #754ef9;
}
.sec-col-container {
  padding: 3rem 1rem;
  text-align: left;
}
.sec-col-container h4 {
  color: #754ef9;
}
.social {
  font-size: 2rem;
}
.social a {
  display: inline-block;
  margin: 0 0.5rem;
}
.social a i {
  color: #754ef9;
}
.submit-btn {
  background-color: #754ef9;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: aliceblue;
  box-shadow: 1px solid black;
}
label {
  font-size: 0.85rem;
  color: red;
  text-align: left;
}
.backdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* css loader */
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
