.my-container {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  color: #8a8fa3;
  margin: 0px;
}
.row h1 {
  /* margin: 2rem 0; */
  padding: 1rem 0;
  text-align: center;
}
.project-heading {
  font-size: 45px;
  font-weight: 700;
  margin: 1.5rem 0;
}
.image-holder-outer {
  text-align: center;
}
.image-holder-outer .image-holder {
  text-align: center;
}
.small-details {
  font-size: 1rem;
}
.col-xs-6 {
  padding: 1rem;
  text-align: center;
}
ul {
  text-align: left;
}
li {
  font-size: 0.95rem;
  color: #8a8fa3;
}
