<div class="my-container">
  <div class="container">
    <div class="row container">
      <div class="col">
        <h1 class="project-heading">Projects Done By Me So Far...</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 col-lg-4 my-auto">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top tic-tac-toe"
            src="assets/images/tic.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Tic-Tac-Toe</h5>
            <p class="card-text">
              Famous tic-tac-toe game with multiplayer facility
            </p>
            <div class="tech-stack">
              <span class="tech">Node Js</span>
              <span class="tech">Express Js</span>
              <span class="tech">Socket IO</span>
              <span class="tech">Skeleton CSS</span>
            </div>

            <a
              href="https://tictactoenode80165.herokuapp.com/"
              class="btn btn-primary card-link"
              >Demo</a
            >
            <a
              href="https://github.com/Ankit80165/Tic-Tac-Toe-Multiplayer"
              class="btn btn-primary card-link"
              >Github Repo</a
            >
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 my-auto">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/images/p2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">NoobForces</h5>
            <p class="card-text">
              Website where coders can practice coding problem.
            </p>
            <div class="tech-stack">
              <span class="tech">Node Js</span>
              <span class="tech">Express Js</span>
              <span class="tech">Angular</span>
              <span class="tech">Bootstrap</span>
              <br />
              <span class="tech">MongoDb</span>
            </div>
            <a
              href="https://noobforces.netlify.app/"
              class="btn btn-primary card-link"
              >Demo</a
            >
            <a
              href="https://github.com/Our-Team-of-Web/NoobForces"
              class="btn btn-primary card-link"
              >Github Repo</a
            >
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 my-auto">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top weather"
            src="assets/images/weather.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Weather App</h5>
            <p class="card-text">
              A web application that helps in finding weather of any places
            </p>
            <div class="tech-stack">
              <span class="tech">Node Js</span>
              <span class="tech">Express Js</span>
              <span class="tech">HBS</span>
            </div>
            <a
              href="https://majhi-weather-app.herokuapp.com/"
              class="btn btn-primary card-link"
              >Demo</a
            >
            <a
              href="https://github.com/Ankit80165/Weather-Application"
              class="btn btn-primary card-link"
              >Github Repo</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
