<div class="my-container">
  <div class="container">
    <div class="row container">
      <div class="col">
        <h1 class="project-heading">Projects Done By Me So Far...</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6 col-lg-4 my-auto">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/images/p1.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Weather App</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary card-link">Demo</a>
            <a href="#" class="btn btn-primary card-link">Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 my-auto">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/images/p2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Portfolio</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary card-link">Demo</a>
            <a href="#" class="btn btn-primary card-link">Github Repo</a>
          </div>
        </div>
      </div>
      <div class="col col-md-6 col-lg-4 my-auto">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="assets/images/p1.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Budgety</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary card-link">Demo</a>
            <a href="#" class="btn btn-primary card-link">Github Repo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
