<div class="my-container">
  <div class="container">
    <div class="row container">
      <div class="col">
        <h1 class="project-heading">My Skills.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <div class="container">
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>C++</span>
              <span>{{ widthObj.widthcpp }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthcpp + '%'"
              ></div>
            </div>
          </div>
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>HTML</span>
              <span>{{ widthObj.widthhtml }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthhtml + '%'"
              ></div>
            </div>
          </div>
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>CSS</span>
              <span>{{ widthObj.widthcss }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthcss + '%'"
              ></div>
            </div>
          </div>
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>Javascript</span>
              <span>{{ widthObj.widthjs }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthjs + '%'"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="container">
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>Node</span>
              <span>{{ widthObj.widthnode }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthnode + '%'"
              ></div>
            </div>
          </div>
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>React</span>
              <span>{{ widthObj.widthreact }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthreact + '%'"
              ></div>
            </div>
          </div>
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>Angular</span>
              <span>{{ widthObj.widthng }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthng + '%'"
              ></div>
            </div>
          </div>
          <div class="skill-holder">
            <div class="d-flex justify-content-between">
              <span>MongoDB</span>
              <span>{{ widthObj.widthmongo }}%</span>
            </div>
            <div class="progress-bar-outer">
              <div
                class="progress-bar-inner"
                [style.width]="widthObj.widthmongo + '%'"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row container">
      <div class="col">
        <p>
          Apart from this I also have interest in Competitive Programming, Data
          Stutuctures and algorithms. I have achieved 4⭐ in Codechef, which is
          a platform known for Competitive Programming contests.
        </p>
      </div>
    </div>
  </div>
</div>
