<div class="my-container">
  <div class="container">
    <div class="row container">
      <div class="col">
        <h1 class="project-heading">Education</h1>
      </div>
    </div>
    <div class="row my-row">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <h1 class="icon-holder"><i class="fas fa-graduation-cap"></i></h1>
            <h3>2018 - 2022</h3>
            <h1>Bachelor's Degree</h1>
            <p>
              In 2018 I have joined INDIAN INSTITUTE OF ENGINEERING SCIENCE AND
              TECHNOLOGY(IIEST), Shibpur, in the department of Computer Science
              and Technology. I have maintained above 70% marks in every
              semester.
            </p>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <h1 class="icon-holder"><i class="fas fa-university"></i></h1>
            <h3>2015 - 2017</h3>
            <h1>Higher Secondary</h1>
            <p>
              In 2017 I have passed
              <strong>Higher Secondary Examination</strong> from
              <strong>Memari V.M. Institution(UNIT-1)</strong>. I was a student
              of <strong>Science</strong>. My percentage was 89%.
            </p>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <h1 class="icon-holder"><i class="fas fa-school"></i></h1>
            <h3>...2015</h3>
            <h1>Secondary</h1>
            <p>
              In 2015 I have passed
              <strong>Secondary Examination</strong> from
              <strong>Memari V.M. Institution(UNIT-1)</strong>. My percentage
              was 91%.
            </p>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
